@import '@yuki/ui/tailwind.css';
@import '@fumadocs/base-ui/css/shadcn.css';
@import '@fumadocs/base-ui/css/preset.css';

@source '../node_modules/@fumadocs/base-ui/dist/components/**/*.js';
@source '../../../docs/**/*.mdx';
@source '../../../packages/ui/dist/components/*.mjs';

@theme inline {
  --animate-pattern: pattern 4s linear infinite;

  @keyframes pattern {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 40px 40px;
    }
  }
}
