# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# next.js
.next/

# react router
.react-router/

# tanstack start
.output/
.tanstack/
routeTree.gen.ts
app.config.timestamp_*.js

# expo
.expo/
.metro-health-check*
expo-env.d.ts
uniwind-types.d.ts

# native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# generated native folders
ios/
android/

# java
*.class
*.jar
*.war

# java (gradle)
.gradle/
gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# java (maven)
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# production
build/
dist/
bin/
out/

# misc
.cache/
tmp/
.DS_Store
Thumbs.db
*.pem
*.bak

# debug
logs/
*.log*

# local env files
.env*
!.env.example

# turbo
.turbo/

# infrastructure
.alchemy/
.open-next/
.vercel
.wrangler/
.turbo/
wrangler.jsonc

# typescript
*.tsbuildinfo
next-env.d.ts
expo-env.d.ts

# ide
.settings/
.vscode/
.idea/
.project
.classpath
*.iml


# Turborepo
.turbo
