# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
next-env.d.ts

# react router
.react-router/

# tanstack start
.nitro/
.output/
.tanstack/
routeTree.gen.ts
app.config.timestamp_*.js

# production
build/
dist/

# misc
.cache/
generated/
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*
!.env.example

# turbo
.turbo/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
