@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant light (&:where(.light, .light *));
@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  :root {
    --radius: 0.5rem;
    --tracking-normal: 0em;

    @variant light {
      --background: oklch(0.9851 0 0);
      --foreground: oklch(0 0 0);
      --card: oklch(1 0 0);
      --card-foreground: oklch(0.2046 0 0);
      --popover: oklch(1 0 0);
      --popover-foreground: oklch(0 0 0);
      --primary: oklch(0.5144 0.1605 267.44);
      --primary-foreground: oklch(0.97 0.014 254.604);
      --secondary: oklch(0.94 0 0);
      --secondary-foreground: oklch(0.25 0 0);
      --muted: oklch(0.97 0 0);
      --muted-foreground: oklch(0.44 0 0);
      --accent: oklch(0.9214 0.0248 257.65);
      --accent-foreground: oklch(0.2571 0.1161 272.24);
      --success: oklch(0.63 0.17 149);
      --info: oklch(0.55 0.22 263);
      --destructive: oklch(0.5801 0.2376 28.699);
      --warning: oklch(0.68 0.14 76);
      --border: oklch(0.92 0 0);
      --input: oklch(0.94 0 0);
      --ring: oklch(0.5144 0.1605 267.44);

      --sidebar: oklch(1 0 0);
      --sidebar-foreground: oklch(0.2046 0 0);
      --sidebar-primary: oklch(0.5144 0.1605 267.44);
      --sidebar-primary-foreground: oklch(1 0 0);
      --sidebar-accent: oklch(0.9214 0.0248 257.65);
      --sidebar-accent-foreground: oklch(0.2571 0.1161 272.24);
      --sidebar-border: oklch(0.92 0 0);
      --sidebar-ring: oklch(0.5144 0.1605 267.44);

      --chart-1: oklch(0.9214 0.0248 257.65);
      --chart-2: oklch(0.7597 0.0804 267.01);
      --chart-3: oklch(0.6083 0.1247 272.72);
      --chart-4: oklch(0.5144 0.1605 267.44);
      --chart-5: oklch(0.2571 0.1161 272.24);

      --shadow-x: 0.25px;
      --shadow-y: 1px;
      --shadow-blur: 3px;
      --shadow-spread: 0px;
      --shadow-opacity: 0.15;
      --shadow-color: oklch(0.2571 0.1161 272.24);
      --shadow-2xs: 0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.07);
      --shadow-xs: 0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.07);
      --shadow-sm:
        0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
        0.25px 1px 2px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
      --shadow:
        0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
        0.25px 1px 2px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
      --shadow-md:
        0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
        0.25px 2px 4px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
      --shadow-lg:
        0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
        0.25px 4px 6px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
      --shadow-xl:
        0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
        0.25px 8px 10px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
      --shadow-2xl: 0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.38);

      --normal: oklch(0.533 0.188299 256.8803);
      --visual: oklch(0.5945 0.1522 48.09);
      --replace: oklch(0.5352 0.1882 2.43);
      --insert: oklch(0.6273 0.17 149.2);
      --terminal: oklch(0.4706 0.2205 304.22);
      --command: oklch(0.6424 0.18 45.27);
    }

    @variant dark {
      --background: oklch(0 0 0);
      --foreground: oklch(1 0 0);
      --card: oklch(0.1448 0 0);
      --card-foreground: oklch(0.9461 0 0);
      --popover: oklch(0.1448 0 0);
      --popover-foreground: oklch(1 0 0);
      --primary: oklch(0.5144 0.1605 267.44);
      --primary-foreground: oklch(0.97 0.014 254.604);
      --secondary: oklch(0.25 0 0);
      --secondary-foreground: oklch(0.94 0 0);
      --muted: oklch(0.23 0 0);
      --muted-foreground: oklch(0.72 0 0);
      --accent: oklch(0.2571 0.1161 272.24);
      --accent-foreground: oklch(0.9214 0.0248 257.65);
      --success: oklch(0.63 0.17 149);
      --info: oklch(0.55 0.22 263);
      --destructive: oklch(0.5801 0.2376 28.699);
      --warning: oklch(0.68 0.14 76);
      --border: oklch(0.26 0 0);
      --input: oklch(0.32 0 0);
      --ring: oklch(0.5144 0.1605 267.44);

      --chart-1: oklch(0.9214 0.0248 257.65);
      --chart-2: oklch(0.7597 0.0804 267.01);
      --chart-3: oklch(0.6083 0.1247 272.72);
      --chart-4: oklch(0.5144 0.1605 267.44);
      --chart-5: oklch(0.2571 0.1161 272.24);

      --sidebar: oklch(0.1448 0 0);
      --sidebar-foreground: oklch(0.9461 0 0);
      --sidebar-primary: oklch(0.5144 0.1605 267.44);
      --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
      --sidebar-accent: oklch(0.2571 0.1161 272.24);
      --sidebar-accent-foreground: oklch(0.9214 0.0248 257.65);
      --sidebar-border: oklch(0.26 0 0);
      --sidebar-ring: oklch(0.5144 0.1605 267.44);

      --shadow-x: 0.25px;
      --shadow-y: 1px;
      --shadow-blur: 3px;
      --shadow-spread: 0px;
      --shadow-opacity: 0.15;
      --shadow-color: oklch(0.0571 0.1161 272.24);
      --shadow-2xs: 0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.07);
      --shadow-xs: 0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.07);
      --shadow-sm:
        0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
        0.25px 1px 2px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
      --shadow:
        0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
        0.25px 1px 2px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
      --shadow-md:
        0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
        0.25px 2px 4px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
      --shadow-lg:
        0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
        0.25px 4px 6px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
      --shadow-xl:
        0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
        0.25px 8px 10px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
      --shadow-2xl: 0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.38);

      --normal: oklch(0.7178 0.1521 250.77);
      --visual: oklch(0.8535 0.0907 84.06);
      --replace: oklch(0.6931 0.1891 3.82);
      --insert: oklch(0.6273 0.17 149.2);
      --terminal: oklch(0.6986 0.1786 309.44);
      --command: oklch(0.8124 0.1238 55.54);
    }
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans), 'Geist', sans-serif;
  --font-mono: var(--font-geist-mono), 'Geist Mono', monospace;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-destructive: var(--destructive);
  --color-warning: var(--warning);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-shadow-color: var(--shadow-color);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-blur: var(--shadow-blur);
  --shadow-spread: var(--shadow-spread);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --color-normal: var(--normal);
  --color-visual: var(--visual);
  --color-replace: var(--replace);
  --color-insert: var(--insert);
  --color-terminal: var(--terminal);
  --color-command: var(--command);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(
        --radix-accordion-content-height,
        var(--accordion-panel-height, auto)
      );
    }
  }

  @keyframes accordion-up {
    from {
      height: var(
        --radix-accordion-content-height,
        var(--accordion-panel-height, auto)
      );
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: --alpha(var(--color-ring) / 50%);
    text-underline-offset: 4px;

    scrollbar-color: var(--color-accent-foreground) var(--color-accent);
    scrollbar-width: thin;

    ::selection {
      background-color: var(--color-accent);
      color: var(--color-accent-foreground);
    }
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    letter-spacing: var(--tracking-normal);
  }
}

/* Custom variants */
@custom-variant data-open {
  &:where([data-state='open']),
  &:where([data-open]:not([data-open='false'])) {
    @slot;
  }
}

@custom-variant data-closed {
  &:where([data-state='closed']),
  &:where([data-closed]:not([data-closed='false'])) {
    @slot;
  }
}

@custom-variant data-checked {
  &:where([data-state='checked']),
  &:where([data-checked]:not([data-checked='false'])) {
    @slot;
  }
}

@custom-variant data-unchecked {
  &:where([data-state='unchecked']),
  &:where([data-unchecked]:not([data-unchecked='false'])) {
    @slot;
  }
}

@custom-variant data-selected {
  &:where([data-selected='true']) {
    @slot;
  }
}

@custom-variant data-disabled {
  &:where([data-disabled='true']),
  &:where([data-disabled]:not([data-disabled='false'])) {
    @slot;
  }
}

@custom-variant data-active {
  &:where([data-state='active']),
  &:where([data-active]:not([data-active='false'])) {
    @slot;
  }
}

@custom-variant data-horizontal {
  &:where([data-orientation='horizontal']) {
    @slot;
  }
}

@custom-variant data-vertical {
  &:where([data-orientation='vertical']) {
    @slot;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
