@import '@yuki/ui/tailwind.css';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';

@source '../../packages/content/**/*.mdx';
@source '../../packages/data/**/*.tsx';
@source '../../packages/ui/src/**/*.tsx';
